<form ng-controller="SignupController" ng-submit="signUp()">
	<h2>Sign Up</h2>
	<input type="text" ng-model="username" placeholder="Username" />
	<input type="password" ng-model="password" placeholder="Password" />
	<input type="password" ng-model="confirmPassword" placeholder="Confirm Password" />
	<input type="text" ng-model="name" placeholder="Name" />
	<div class="text-right">
		<button>Submit</button>
		<button type="button" class="red" ng-click="closeModal()">Cancel</button>
	</div>
	<ul ng-if="errors" class="errors">
		<li ng-repeat="error in errors">{{error}}</li>
	</ul>
</form>
