<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Todo App - Victor Herrera</title>
		<link rel="stylesheet" href="/assets/css/site.css" />
		<link rel="icon" href="/assets/img/favicon.ico" />
	</head>
	<body ng-app="app">
		<header class="shadow">
			<h1>My ToDos <span ng-if="!user.offlineMode"> - {{user.name}}</span></h1>
			<div>
				<a href="javascript:void(0)" ng-if="user.offlineMode" class="button" ng-click="openModal('/modal-templates/log-in.html', 500)">Log In</a>
				<a href="javascript:void(0)" ng-if="user.offlineMode" class="button" ng-click="openModal('/modal-templates/sign-up.html', 500)">Sign Up</a>
				<a href="javascript:void(0)" ng-if="!user.offlineMode" class="button" ng-click="logout()">Logout</a>
			</div>
		</header>
		<main ng-controller="TodoController">
			<button ng-click="addItem()" ng-class="{'disabled': newTodo}">New</button>
			<ul class="todos">
				<li class="shadow" ng-if="newTodo">
					<input type="text" ng-keyup="onKeyup($event, null, newTodo.text)" ng-model="newTodo.text" />
					<i ng-click="cancelItem()" class="cancel"></i>
					<i ng-click="saveItem(null, newTodo.text)" ng-class="{'disabled': !newTodo.text}" class="save"></i>
				</li>
				<li class="shadow" ng-repeat="todo in user.todos track by $index">
					<p ng-if="!todo.editting" title={{todo.text}}>{{todo.text}}</p>
					<input ng-if="todo.editting" ng-keyup="onKeyup($event, $index, todo.editValue)" type="text" ng-model="todo.editValue" />
					<i ng-if="!todo.editting" ng-click="editItem($index, $event.target)" class="edit"></i>
					<i ng-if="!todo.editting" ng-click="completeItem($index)" class="complete"></i>
					<i ng-if="todo.editting" ng-click="cancelItem($index)" class="cancel"></i>
					<i ng-if="todo.editting" ng-click="saveItem($index, todo.editValue)" ng-class="{'disabled': !todo.editValue}" class="save"></i>
				</li>
			</ul>
		</main>
		<div class="modal" ng-click="closeModal()" ng-class="{'active': modalTemplate}">
			<div class="modal-body shadow" ng-click="$event.stopPropagation()" ng-attr-style="{{modalSize ? 'width: ' + modalSize : null}}" ng-include="modalTemplate"></div>
		</div>
		<script type="text/javascript" src="/assets/lib/angular.js"></script>
		<script type="text/javascript" src="/assets/lib/angular-storage.js"></script>
		<script type="text/javascript" src="/assets/js/app.js"></script>
		<script type="text/javascript" src="/assets/js/services/user-service.js"></script>
		<script type="text/javascript" src="/assets/js/services/todo-service.js"></script>
		<script type="text/javascript" src="/assets/js/controllers/todo-controller.js"></script>
		<script type="text/javascript" src="/assets/js/controllers/signup-controller.js"></script>
		<script type="text/javascript" src="/assets/js/controllers/login-controller.js"></script>
	</body>
</html>